.idea
.vscode

/gateway/bin
/message/bin
/orchestrator/bin
/template/bin

/gateway/tmp
/message/tmp
/orchestrator/tmp
/template/tmp

/gateway/log.txt
/message/log.txt
/orchestrator/log.txt
/template/log.txt

.env
